#page-title:before, #page-title:after {
  max-width: 175px;
}

#page-title-container {
  height: 300px;
  background-color: gray;
  background: url('../images/contact.jpg');
  background-size: cover;
  background-position: center 40%;
  box-shadow: inset 0 0 0 150px rgba(0,0,0,0.50);
  overflow: hidden;
}
